/* AI BUTTON */
.ai-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #7a38ff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 28px;
    box-shadow: 0 0 20px rgba(128,0,255,0.5);
    transition: .3s;
    z-index: 999;
}
.ai-button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px rgba(128,0,255,0.8);
}

/* PANEL */
.ai-panel {
    position: fixed;
    bottom: 100px;
    right: 25px;
    width: 320px;
    height: 430px;
    background: #0d0016;
    border: 1px solid #3a0066;
    border-radius: 14px;
    display: none;
    flex-direction: column;
    overflow: hidden;
    z-index: 999;
    box-shadow: 0 0 25px rgba(128,0,255,0.4);
}

.ai-header {
    background: #22003b;
    padding: 12px;
    text-align: center;
    color: #d3b0ff;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #3a0066;
}

.ai-messages {
    flex: 1;
    padding: 12px;
    overflow-y: auto;
    color: #cfcfcf;
    font-size: 14px;
}

.msg {
    margin-bottom: 12px;
    padding: 8px 10px;
    background: #1a002b;
    border-radius: 8px;
    border: 1px solid #3b0067;
}
.msg.user {
    background: #280040;
    border-color: #5a00a7;
}
.msg span {
    color: #b76fff;
    font-weight: bold;
}

.ai-input-box {
    padding: 10px;
    border-top: 1px solid #3a0066;
    display: flex;
    gap: 8px;
}

.ai-input-box input {
    flex: 1;
    padding: 9px;
    border-radius: 8px;
    border: 1px solid #3a0066;
    background: #11001b;
    color: #e2e2e2;
}

.ai-input-box button {
    padding: 9px 12px;
    border-radius: 8px;
    background: #7a38ff;
    color: white;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.ai-input-box button:hover {
    background: #9b56ff;
}
