* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f4f4;
  color: #222;
}

nav {
  width: 100%;
  background: #111;
  padding: 20px;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  justify-content: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: .3s;
}

nav ul li a:hover {
  color: #00aaff;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin-top: 10px;
  font-size: 1.2rem;
  max-width: 500px;
}
