<nav>
    <div class='nav-container'>
        <h1>Yusuf Avþar</h1>

        <ul>
            <li><a href='index.html'>Anasayfa</a></li>
            <li><a href='hakkimda.html'>Hakkýmda</a></li>
            <li><a href='hizmetler.html'>Hizmetler</a></li>
            <li><a href='projeler.html'>Projeler</a></li>
            <li><a href='blog.html'>Blog</a></li>
            <li><a href='ekip.html'>Ekip</a></li>
            <li><a href='iletisim.html'>Ýletiþim</a></li>
        </ul>
    </div>
</nav>
